PROJECT
Project name	MultiBarSoilEuk
User name	USER
Path to output location	CURDIR/test
Path to execution location	CURDIR/test

LIBRAIRIES
Sequencing technology	454
Directory path to archives or libraries OR BioProject accession	PRJEB5170

TARGET
Target organisms	Cercozoa
Target region	18S
Forward primer name	Cer2f
Forward primer sequence (5' to 3')	ATTTCTGCCCTATCAGCT
Reverse primer name	Cer1r
Reverse primer sequence (5' to 3')	ATACTAGCACCCCCAACT
Sequencing direction	forward

TRIMMING
Number of mismatches allowed on the barcode sequence	1
Number of mismatches allowed on the primer sequence	4
Maximum number of ambiguities allowed in the sequence	0
Maximum homopolymer length allowed	8
Minimum sequence length	300
Maximum sequence length	700
Minimum average quality on the trimmed sequence length	29
Denoising	yes

PIPELINE
Minimum number of trimmed reads per sample	700
Pre-clustering	no
Chimera	before
Clustering algorithm	mcl
Clustering similarity threshold	96
Directory path to database	CURDIR/test
Database prefix name	pr2_4.10.0
Reduce database to amplified fragment	yes
Minimum number of sample for abundant OTUs	1
Minimum number of reads for abundant OTUs	2

BARCODES
Barcode sequence (454 only)	Sample name	[Forward] library name OR URL	Reverse library name OR URL (Illumina only)
ACGAGTGCGT	cerso01a	ftp.sra.ebi.ac.uk/vol1/ERA279/ERA279305/sff/AMP12_HV6G38L03-04_cerso01a.sff
ACGCTCGACA	cerso01b	ftp.sra.ebi.ac.uk/vol1/ERA279/ERA279305/sff/AMP12_HV6G38L03-04_cerso01b.sff
AGACGCACTC	cerso01c	ftp.sra.ebi.ac.uk/vol1/ERA279/ERA279305/sff/AMP12_HV6G38L03-04_cerso01c.sff
AGCACTGTAG	cerso06a	ftp.sra.ebi.ac.uk/vol1/ERA279/ERA279305/sff/AMP12_HV6G38L03-04_cerso06a.sff
ATCAGACACG	cerso06b	ftp.sra.ebi.ac.uk/vol1/ERA279/ERA279305/sff/AMP12_HV6G38L03-04_cerso06b.sff
ATATCGCGAG	cerso06c	ftp.sra.ebi.ac.uk/vol1/ERA279/ERA279305/sff/AMP12_HV6G38L03-04_cerso06c.sff
CGTGTCTCTA	cerso13a	ftp.sra.ebi.ac.uk/vol1/ERA279/ERA279305/sff/AMP12_HV6G38L03-04_cerso13a.sff
CTCGCGTGTC	cerso13b	ftp.sra.ebi.ac.uk/vol1/ERA279/ERA279305/sff/AMP12_HV6G38L03-04_cerso13b.sff
TAGTATCAGC	cerso13c	ftp.sra.ebi.ac.uk/vol1/ERA279/ERA279305/sff/AMP12_HV6G38L03-04_cerso13c.sff
TCTCTATGCG	cerso18a	ftp.sra.ebi.ac.uk/vol1/ERA279/ERA279305/sff/AMP12_HV6G38L03-04_cerso18a.sff
TGATACGTCT	cerso18b	ftp.sra.ebi.ac.uk/vol1/ERA279/ERA279305/sff/AMP12_HV6G38L03-04_cerso18b.sff
TACTGAGCTA	cerso18c	ftp.sra.ebi.ac.uk/vol1/ERA279/ERA279305/sff/AMP12_HV6G38L03-04_cerso18c.sff
