PROJECT
Project name	testing
User name	USER
Path to output location	CURDIR/test
Path to execution location	CURDIR/test

LIBRAIRIES
Sequencing technology	Illumina
Directory path to archives or libraries OR BioProject accession	PRJEB9411

TARGET
Target organisms	Bacteria
Target region	16S
Forward primer name	f27F
Forward primer sequence (5' to 3')	AGAGTTTGATCMTGGCTCAG
Reverse primer name	r388R
Reverse primer sequence (5' to 3')	GCTGCCTCCCGTAGGAGT

PAIR-END
Minimum overlap	10
Remove primers at reads ends	5prime

TRIMMING
Maximum number of ambiguities allowed in the sequence	0
Maximum homopolymer length allowed	8
Minimum sequence length	180
Maximum sequence length	460
Minimum average quality on the trimmed sequence length	25

PIPELINE
Minimum number of trimmed reads per sample	6000
Pre-clustering	cdhit454
Chimera	both
Clustering algorithm	vsearch
Clustering similarity threshold	97
Taxonomic classifier	bayesian
Directory path to database	CURDIR/test
Database prefix name	silva_test.128.NR99.prok
Reduce database to amplified fragment	yes
Minimum number of sample for abundant OTUs	1
Minimum number of reads for abundant OTUs	3

BARCODES
Barcode sequence (454 only)	Sample name	[Forward] library name OR URL	Reverse library name OR URL (Illumina only)
	test1	ftp.sra.ebi.ac.uk/vol1/ERA440/ERA440889/fastq/F01_V1_F.fastq.gz	ftp.sra.ebi.ac.uk/vol1/ERA440/ERA440889/fastq/F01_R_V1_R.fastq.gz
	test2	ftp.sra.ebi.ac.uk/vol1/ERA440/ERA440889/fastq/F02_V1_F.fastq.gz	ftp.sra.ebi.ac.uk/vol1/ERA440/ERA440889/fastq/F02_R_V1_R.fastq.gz
