PROJECT
Project name	testing_ITS_Illumina
User name	USER
Path to output location	CURDIR/test
Path to execution location	CURDIR/test

LIBRAIRIES
Sequencing technology	Illumina
Directory path to archives or libraries OR BioProject accession	PRJEB

TARGET
Target organisms	Fungi
Target region	ITS
Forward primer name	ITS3
Forward primer sequence (5' to 3')	AGAGTTTGATCMTGGCTCAG
Reverse primer name	ITS4
Reverse primer sequence (5' to 3')	GCTGCCTCCCGTAGGAGT

PAIR-END
Minimum overlap	10
Primers at 5' end of Illumina reads	yes

TRIMMING
Maximum number of ambiguities allowed in the sequence	0
Maximum homopolymer length allowed	12
Minimum sequence length	90
Minimum average quality on the trimmed sequence length	25

PIPELINE
Minimum number of trimmed reads per sample	
Pre-clustering	cdhit454
Chimera	both
Clustering algorithm		cd-hit-est
Clustering similarity threshold	97
Directory path to database	CURDIR/test
Database prefix name	unite_01.12.2017
Minimum number of sample for abundant OTUs	1
Minimum number of reads for abundant OTUs	3

BARCODES
Barcode sequence (454 only)	Sample name	[Forward] library name OR URL	Reverse library name OR URL (Illumina only)
	test1		
	test2		
