PROJECT
Project name	testing_ITS_Illumina
User name	USER
Path to output location	CURDIR/test
Path to execution location	CURDIR/test

LIBRAIRIES
Sequencing technology	Illumina
Directory path to archives or libraries OR BioProject accession	PRJNA276910

TARGET
Target organisms	Fungi
Target region	ITS
Forward primer name	ITS3tagmix
Forward primer sequence (5' to 3')	CANCGATGAAGAACGYRG
Reverse primer name	ITS4ngs
Reverse primer sequence (5' to 3')	TCCTSCGCTTATTGATATGC
Number of mismatches allowed on the primer sequence	0

PAIR-END
Minimum overlap	10
Primers at 5' end of Illumina reads	yes

TRIMMING
Maximum number of ambiguities allowed in the sequence	0
Maximum homopolymer length allowed	20
Minimum sequence length	90
Minimum average quality on the trimmed sequence length	30

PIPELINE
Minimum number of trimmed reads per sample	1000
ITSx region to extract	ITS2
Pre-clustering	no
Chimera	both
Clustering algorithm		cd-hit-est
Clustering similarity threshold	97
Taxonomic classifier    bayesian
Directory path to database	CURDIR/test
Database prefix name	unite_test_01.12.2017
Minimum number of sample for abundant OTUs	1
Minimum number of reads for abundant OTUs	3

BARCODES
Barcode sequence (454 only)	Sample name	[Forward] library name OR URL	Reverse library name OR URL (Illumina only)
	pos_control	ftp.sra.ebi.ac.uk/vol1/fastq/SRR186/003/SRR1868533/SRR1868533_1.fastq.gz	ftp.sra.ebi.ac.uk/vol1/fastq/SRR186/003/SRR1868533/SRR1868533_2.fastq.gz
	S162_2	ftp.sra.ebi.ac.uk/vol1/fastq/SRR186/004/SRR1868524/SRR1868524_1.fastq.gz	ftp.sra.ebi.ac.uk/vol1/fastq/SRR186/004/SRR1868524/SRR1868524_2.fastq.gz
