PROJECT
Project name	testingIllumina
User name	USER
Path to output location	CURDIR/test
Path to execution location	CURDIR/test

LIBRAIRIES
Sequencing technology	Illumina
Directory path to archives or libraries OR BioProject accession	PRJEB12362

TARGET
Target organisms	Bacteria
Target region	16S
Forward primer name	f341F
Forward primer sequence (5' to 3')	CCTACGGGNGGCWGCAG
Reverse primer name	r805R
Reverse primer sequence (5' to 3')	GACTACHVGGGTATCTAATCC

PAIR-END
Minimum overlap	10

TRIMMING
Maximum number of ambiguities allowed in the sequence	0
Maximum homopolymer length allowed	8
Minimum sequence length	100
Maximum sequence length	460
Minimum average quality on the trimmed sequence length	25

PIPELINE
Minimum number of trimmed reads per sample	60000
Clustering algorithm		vsearch
Clustering similarity threshold	97
Directory path to database	CURDIR/test
Reference database	silva_test.128.NR99.prok
Minimum number of reads for abundant OTUs	2

BARCODES
Barcode sequence (454 only)	Sample name	[Forward] library name OR URL	Reverse library name OR URL (Illumina only)
	test1	ftp.sra.ebi.ac.uk/vol1/ERA552/ERA552042/fastq/16S_10_R1.fastq.gz	ftp.sra.ebi.ac.uk/vol1/ERA552/ERA552042/fastq/16S_10_R2.fastq.gz
	test2	ftp.sra.ebi.ac.uk/vol1/ERA552/ERA552042/fastq/16S_11_R1.fastq.gz	ftp.sra.ebi.ac.uk/vol1/ERA552/ERA552042/fastq/16S_11_R2.fastq.gz	
